@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>


</head>
<body>

    <h2>Die List von Behandelte Patienten</h2>
    <div>.................................</div>

    <style>
    table {
        border-collapse: separate;
        border-spacing: 20px; /* Hier kannst du den gewünschten Abstand einstellen */
    }

        td {
            padding: 20px; /* Hier kannst du den gewünschten Abstand einstellen */
        }
    </style>
    <table class="table">
        <tr >
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Adresse</th>
            <th>Stadt</th>
        </tr>
        
            @foreach (var r in Info.neulist)
            {
            <tr>
                <td>@r.PatientId</td>
                <td>@r.name</td>
                <td>@r.gender</td>
                <td>@r.wohnthaft</td>
                <td>@r.stadt</td>

            </tr>
            }
            
        
        
    </table>
    
    <div>.................................</div>

    <div class="">

        <img class= src="~/css/zuruck.png" width="20" height="20" />
        <a asp-action="Index"> Hauptmenü </a>

    </div>










</body>
</html>